language: rust
cache: cargo
env:
  global:
    - PROJECT_NAME: refmt
    - RUST_BACKTRACE: full
addons:
  apt:
    packages:
      # For building MUSL static builds on Linux.
      - musl-tools
matrix:
  fast_finish: true
  include:
    - os: linux
      rust: stable
      env: TARGET=x86_64-unknown-linux-musl
    - os: osx
      rust: stable
      env: TARGET=x86_64-apple-darwin
branches:
  only:
    - master
    # NOTE: Need below regex to trigger deploy on push-tags
    - /^\d+\.\d+\.\d+.*$/
    - /^feature\/.*$/
script: ci/script.sh
before_deploy: ci/before_deploy.sh
deploy:
  provider: releases
  skip_cleanup: true
  file_glob: true
  file: deployment/${PROJECT_NAME}-${TRAVIS_TAG}-${TARGET}.tar.gz
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    repo: yoshihitoh/refmt
    branch: master
    tags: true
  api_key:
    secure: g2jVMSchLEtb60HNCIMrn671gL0V0rQ7dtzgk0ZsFTXietGBPSSpmLx/aY8/RxvEpYwX0ME4fJStY812fPkeVrWSRhZ+vjtMorkXUMR/dU+OEzyHqwTHP3b13tIh36qyVfIuE0GH8dvQcgsK+VMdWQv2e7ymLe+rRWmpG9pSbzKUjG0KGdv9LLFuNdB26xXtsPV5bMsQkqFmRNibbXoXpNrbF/Sbwsd1sk1DahQbHmcoAN/dxjckQV3XpmVF5xQYUOdFjZUguMuV9Mcey6oQ5XnGu/4EGL4oOk/bJkvW8jAaMhX1kA8UBUvbuqDyxWbNrz6PrL5qXWPoAvfB9tSbbxwyuaV/YNV/rNZsAiqDtYtUr1TE0g5Ic1/Ca3g4P/8zOMnOv6NTtzDdgrJXh2qFx4HBrN0bqOab4lv2gU6vepHH5HhCPhPRwSB933haH1tnbGKcgBe9xng27CwADWvfNbfcAWIeDOcTFW6KVue1ltMt1fHIJzU+5sYAErwFNHLvmFDDQ2DE6iVLdEgW3Ar7ghCzEtZac6kyux5uHp5G29qi1NTZnTo+DVUpEff9whzuVrdTz8mhF1bvyA6QqDkZkR6RQUpUJhIk/0+T968Jq7kdwxLD2mu7MfHcmrZfXlIGeZRrAoqD7Ek3gHdtrIrhV7WL/rdUOSAiJLV8ouFOyhg=
notifications:
  email:
    on_success: never
