language: rust
cache: cargo
env:
  global:
    - PROJECT_NAME: refmt
    - RUST_BACKTRACE: full
addons:
  apt:
    packages:
      # For building MUSL static builds on Linux.
      - musl-tools
matrix:
  fast_finish: true
  include:
    - os: linux
      rust: stable
      env: TARGET=x86_64-unknown-linux-musl
    - os: osx
      rust: stable
      env: TARGET=x86_64-apple-darwin
branches:
  only:
    - master
    # NOTE: Need below regex to trigger deploy on push-tags
    - /^\d+\.\d+\.\d+.*$/
    - /^feature\/.*$/
script: ci/script.sh
before_deploy: ci/before_deploy.sh
deploy:
  provider: releases
  skip_cleanup: true
  file_glob: true
  file: deployment/${PROJECT_NAME}-${TRAVIS_TAG}-${TARGET}.tar.gz
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    repo: yoshihitoh/refmt
    branch: master
    tags: true
  api_key:
    secure: Air0CU/1BZS+H2AzGcJaGp71WMES7LLzMJsDA+MhuwLT9FewlsZqGNjrHYO/DH5KAq5+VFUQr7mBzhhcBrn8xlYytM5gFEhSxTmFyhvcCR2UCiUtXcawix3T+pNJ0LP25znec5BQ4KLebrwEZvadsN961jskPKkv7+D2UTz1P/4T9S0chNPJCzQD7xAeVjLdlSlobrCVLzjo5LwUvTWmC2FaVr9fz+4kf23apU7mp5eAOt48EiU9E2hvEVdI8elDq1GSUmQQ7AHelrPzHyfaTO5QvhgfyPJ5fbYvAYQ0zSYb/tsE7KzZnO5az5Gmsoezu5iLB3X0HzGWFKxOZF0j5OrZF/z47Hm79Y7/iMPeFsWmP0d9DOMtVWQlyB2DwhKQfLCwF7CZMfMnwPeRZrqU5UveOQd/wqaqBEkyE9TQD/mE50zbWr3jmtO+nDeg0Ojs3CRp407H1tRd15jo45NGvLuIA9tLswbAZ0smmcMYsq74k0/+6yg9sFfHrZWhwm9cfaXj+0Qqa6i5tFTvmfXkayRnc6uELR+hQoY5GEjhRlklQrRJudKPbi5qMEBVbyjgatYgFuLYPttus8nIHynm/EvMDDPsHanccmmB7lHY65i5OnDvK1OYrWWYs+repj/5LRgYOv4z17vusFEB/vvmZfzSp0rvpcIYQPYmbM33Yjw=
notifications:
  email:
    on_success: never
