[package]
name = "refmt"
version = "0.1.4"
authors = ["yoshihitoh <yoshihito.arih@gmail.com>"]
edition = "2018"

[lib]
name = "refmt_core"
path = "src/lib.rs"

[[bin]]
name = "refmt"
path = "src/bin/refmt.rs"

[[bin]]
name = "refmt-generate-assets"
path = "src/bin/generate_assets.rs"

[dependencies]
atty = "0.2"
bincode = "1.0"
serde = "1.0"
serde_yaml = "0.8"
strum = "0.13"
strum_macros = "0.13"
toml = "0.4"

[dependencies.clap ]
version = "2.32"
features = ["suggestions", "color", "wrap_help"]

[dependencies.serde_json]
version = "1.0"
features = ["preserve_order"]

[dependencies.syntect]
version = "3.0"
default_features = false
features = ["parsing", "yaml-load", "dump-load", "dump-create"]

[dev-dependencies]
serde_derive = "1.0"
